# dependencies
/node_modules
/.pnp
.pnp.js

# generated
**/generated

# testing
/coverage

# production
/build

# ignore mocks and stubs (TODO: test this and decide)
# **/*.mock.{ts,tsx}
# **/*.stub.{ts,tsx}
# **/stubs.{ts,tsx}
